.cart-title {
text-align: center;
margin-top: 50px;
}

.info {
    text-align: center;
}

.prod-cart {
    width: 300px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    background: #262626;
    border: solid white 10px;
    color: white;
}

.cart-flex {
    display: flex;
    flex-wrap: wrap;
}