.left {
 justify-content: left
}

.types {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    background: #262626;
    color: white;
    /* transition: 1s; */
    text-decoration: none;
}

.types p {
    height: 30px;
    text-decoration: none;
    color: white;
    margin: 15px auto;
    /* text-align: center; */

}

.types p:hover {
    color: green;
}

.none {
    display: none;
}

/* .nav-but {
    width: 70px;
    height: 46px;
    position: fixed;
    right: 20px;
    bottom: 50px;
} */



.work {
    height: 56px;
    width: 60px;
}

/* .menu-div {
    width: 35px;
    height: 7px;
    background-color: #262626;
    border-radius: 10px;
    margin: 5px auto;
} */


/* .menu-back {
    width: 60px;
    height: 36px;
    background: white;
    padding: 9px 0;
    border-radius: 15px
} */

.nav-but {
    width: 70px;
    height: 46px;
    position: fixed;
    margin: 0 auto;
    bottom: 23px;
}

.menu-div {
    width: 35px;
    height: 7px;
    background-color: #262626;
    border-radius: 10px;
    margin: 5px auto;
}
.menu-back {
    width: 100vw;
    height: 35px;
    background: rgb(230, 95, 93);
    /* border-top: px solid black; */
    /* border-bottom: 3px solid black; */
    padding: 9px 0;
    /* border-radius: 15px */
}


/* Nav 2 */
.nav-but2 {
    width: 70px;
    height: 46px;
    position: fixed;
    margin: 0 auto;
    bottom: 196px;
}

.menu-div2 {
    width: 35px;
    height: 7px;
    background-color: #262626;
    border-radius: 10px;
    margin: 5px auto;
}
* {
    text-decoration: none;
}

.menu-back2 {
    width: 100vw;
    height: 35px;
    background: rgb(230, 95, 93);
    padding: 9px 0;
    /* border-radius: 15px */
}

