.left {
 justify-content: left
}

.types {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    background: #262626;
    color: white;
    text-decoration: none;
}

.types p {
    height: 30px;
    text-decoration: none;
    color: white;
    margin: 15px auto;

}

.types p:hover {
    color: green;
}

.none {
    display: none;
}

.work {
    height: 56px;
    width: 60px;
}

.nav-but {
    width: 70px;
    height: 46px;
    position: fixed;
    margin: 0 auto;
    bottom: 23px;
}

.menu-div {
    width: 35px;
    height: 7px;
    background-color: #262626;
    border-radius: 10px;
    margin: 5px auto;
}
.menu-back {
    width: 100vw;
    height: 35px;
    background: rgb(230, 95, 93);
    padding: 9px 0;
}


/* Nav 2 */
.nav-but2 {
    width: 70px;
    height: 40px;
    position: fixed;
    margin: 0 auto;
    bottom: 323px;
}

.menu-div2 {
    width: 35px;
    height: 7px;
    background-color: #262626;
    border-radius: 10px;
    margin: 5px auto;
}
* {
    text-decoration: none;
}

.menu-back2 {
    width: 100vw;
    height: 35px;
    background: rgb(230, 95, 93);
    padding: 9px 0;
}

