.left {
 justify-content: left
}

.types {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    background: #262626;
    color: white;
    /* transition: 1s; */
    text-decoration: none;
}

.types p {
    width: 30px;
    height: 30px;
    text-decoration: none;
    color: white;
}

.types p:hover {
    color: green;
}

.none {
    display: none;
}

.nav-but {
    width: 70px;
    height: 46px;
    position: fixed;
    right: 20px;
    bottom: 50px;
}

.work {
    height: 56px;
    width: 60px;
}

.menu-div {
    width: 35px;
    height: 7px;
    background-color: #262626;
    margin: 5px auto;
}

.menu-back {
    width: 60px;
    height: 36px;
    background: white;
    padding: 9px 0;
    border-radius: 15px
}
