@import url('https://fonts.googleapis.com/css?family=Righteous');

* {
    font-family: 'Righteous', cursive;
}

.teak {
    font-size: 100px;
    text-align: center;
    margin: 130px 0px 30px 0px;;
    padding: none;
    border: none;
    background: #ffffffd5;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.shop{
    height: 60px;
    width: 150px;
    background: black;
    border: none;
    color: white;
    font-size: 20px;
    margin: 0 auto;
    border-radius: 10px;
}

.backk {
    border-top: .1px black solid;
    width: 100%;
}

body {
    height: 100%;
    background-image: url('../../media//chad.png');
}

nav a button {
    font-size: 17px;
}

html {
    height: 100%vh;
}