@import url('https://fonts.googleapis.com/css?family=Righteous');

* {
    font-family: 'Righteous', cursive;
}

.teak {
    font-size: 100px;
    text-align: center;
    margin: 130px 0px 30px 0px;;
    padding: none;
    border: none;
    background: #ffffffd5;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    /* position: fixed;
    top: 4px; */
    /* font-family: 'Righteous', cursive; */
}

.shop{
    height: 60px;
    width: 150px;
    background: black;
    border: none;
    color: white;
    font-size: 20px;
    /* position: fixed; */
    /* bottom: 90px; */
    /* left: 112px; */
    margin: 0 auto;
    border-radius: 10px;
}

.backk {
    /* border-bottom: .1px black solid; */
    /* position: fixed; */
    border-top: .1px black solid;
    width: 100%;
    height: 100vh;
    background-image: url('https://us.123rf.com/450wm/krugli/krugli1608/krugli160800073/61420963-sea-surfing-pattern-with-different-type-surf-desks-surfboard-seamless-background-in-retro-colors-sum.jpg?ver=6');
    /* position: fixed; */
}