.footer {
    background: rgb(97, 168, 170);
    background: #262626;
    margin-top: 70px;
    width: 100%;
    color:white;
}

.footer p {
    margin: 0;
    position: absolute;
    bottom: 0;
}


.created {
    color: white;
    font-size: 10px;
    margin: 0 auto;
}

.coolButton {
    background: #262626;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 90px;
    height: 30px;
}

.shop2 {
    color: white;
    font-size: 10px;
    background: none;
    border: none;
}

.shop3 {
    color: white;
    font-size: 10px;
    border: none;
    background: none;
}
.shop4 {
    padding-top: 15px;
    color: white;
    font-size: 10px;
    background: none;
    border: none;
}