.app {
  /* background: #C5A479 */
}

.titlee {
  font-size: 50px;
  text-align: center;
  margin-top: 45px;
}

.prod:hover {
  cursor: pointer;
  transform: scale(1.1);
}

*{
  text-align: center;
}


.widget.slider.multiple_enabled.active.opened{
  width: 100px!important;
}

.foot {
  position: fixed;
  left: 0;
  bottom: 0;
}